.EditFormWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 1000px;
  margin-bottom: 30px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #2d2a24;
}

.ButtonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.EditButtons {
  width: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  background-color: #ff4301;
  color: black;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.EditButtons:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.select {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
  font-size: 16px;
  color: #ff4301;
  font-weight: 500;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: black;
  margin-bottom: 10px;
}

.PrivateEditFormError {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
