.userRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 20px;
  margin: 0 auto;
  width: 90%;
}

.usersWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 10px;
  margin: 10px auto;
}

.userInputWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userRegisterDateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.userMessage {
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-shadow: red 0px 0px 5px;
}

.userInput {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff4301;
  border: 1px solid black;
  padding: 5px;
}
.userInputPhone {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff4301;
  border: 1px solid black;
  padding: 5px;
}

.saveButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.deleteButtonWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleteButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.userLogin {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
}

.userRegisterDate {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.userRole {
  display: flex;
  align-items: center;
  gap: 10px;
}

.RoleSelect {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #ff4301;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
