.SearchBarWrapper {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBarInput {
  width: 500px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: #fa7d09;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.SearchBarInput::placeholder {
  color: #fa7d09;
}

.SearchBarInput:focus {
  letter-spacing: normal;
  outline: none;
  border: 2px solid #fa7d09;
  transition: 0.3s ease-in-out all;
  -webkit-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
  -moz-box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
  box-shadow: 12px 23px 32px 10px rgba(255, 67, 1, 0.2);
}

.SearchBarIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.SearchBarEraseIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
