.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 0%) 51%,
    hsl(16deg 100% 29%) 97%,
    hsl(29deg 96% 51%) 100%
  );
  border-bottom: 1px solid #FA7D09;
  -webkit-box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 34px 4px rgba(0, 0, 0, 0.6);


  @media screen and (max-width: 480px) {

    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}

.HeaderMenuWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width:600px;
  height: 100%;
}







