.videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 105%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: 0.5;
  cursor: none;
  pointer-events: none;

  @media screen and (max-width: 480px) {
    display: none;
  }
}
